.paragraph{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    display: block;
    padding: 8px 0;
    border-radius: 8px;
    text-align: center;
}
.image{
    display: block;
    margin: 0px auto;
    width: 990px;
    height: 540px;
}